@{
    ViewBag.Title = "Contact";
}


@section scripts{
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

    @*<script type="text/javascript" src="js/jquery.ui.ipad.js"></script>*@
    @*<script type="text/javascript" src="js/jquery.touchSwipe.min.js">

                //$(function() {
                //    $("#test").swipe( {
                //        swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
                //            $("#test").text("You swiped " + direction + " with " + fingerCount + " fingers");
                //        },
                //        threshold:0,
                //        fingers:'all'
                //    });
                //});
        </script>*@
    <script>


        $(document).on('swipeleft', '[data-role="page"]', function (event) {
            if (event.handled !== true) // This will prevent event triggering more then once
            {
                var nextpage = $(this).next('[data-role="page"]');
                // swipe using id of next page if exists
                if (nextpage.length > 0) {
                    $.mobile.changePage(nextpage, { transition: "slide", reverse: false }, true, true);
                }
                event.handled = true;
            }
            return false;
        });

        $(document).on('swiperight', '[data-role="page"]', function (event) {
            if (event.handled !== true) // This will prevent event triggering more then once
            {
                var prevpage = $(this).prev('[data-role="page"]');
                if (prevpage.length > 0) {
                    $.mobile.changePage(prevpage, { transition: "slide", reverse: true }, true, true);
                }
                event.handled = true;
            }
            return false;
        });





        //$(function () {
        //    //Enable swiping...
        //    $("#test").swipe({
        //        //Generic swipe handler for all directions
        //        swipe: function (event, direction, distance, duration, fingerCount, fingerData) {
        //            $(this).text("You swiped " + direction);
        //        },
        //        //Default is 75px, set to 0 for demo so any distance triggers swipe
        //        threshold: 0
        //    });
        //});


    //$(function () {
    //    //Enable swiping...
    //    $("#test").swipe({
    //        swipeStatus: function (event, phase, direction, distance, duration, fingers, fingerData, currentDirection) {
    //            var str = "<h4>Swipe Phase : " + phase + "<br/>";
    //            str += "Current direction: " + currentDirection + "<br/>";
    //            str += "Direction from inital touch: " + direction + "<br/>";
    //            str += "Distance from inital touch: " + distance + "<br/>";
    //            str += "Duration of swipe: " + duration + "<br/>";
    //            str += "Fingers used: " + fingers + "<br/></h4>";
    //            //Here we can check the:
    //            //phase : 'start', 'move', 'end', 'cancel'
    //            //direction : 'left', 'right', 'up', 'down'
    //            //distance : Distance finger is from initial touch point in px
    //            //duration : Length of swipe in MS
    //            //fingerCount : the number of fingers used
    //            if (phase != "cancel" && phase != "end") {
    //                if (duration < 5000)
    //                    str += "Under maxTimeThreshold.<h3>Swipe handler will be triggered if you release at this point.</h3>"
    //                else
    //                    str += "Over maxTimeThreshold. <h3>Swipe handler will be canceled if you release at this point.</h3>"
    //                if (distance < 200)
    //                    str += "Not yet reached threshold.  <h3>Swipe will be canceled if you release at this point.</h3>"
    //                else
    //                    str += "Threshold reached <h3>Swipe handler will be triggered if you release at this point.</h3>"
    //            }
    //            if (phase == "cancel")
    //                str += "<br/>Handler not triggered. <br/> One or both of the thresholds was not met "
    //            if (phase == "end")
    //                str += "<br/>Handler was triggered."
    //            $("#test").html(str);
    //        },
    //        threshold: 200,
    //        maxTimeThreshold: 5000,
    //        fingers: 'all'
    //    });
    //});

    </script>
}
<h2>@ViewBag.Title.</h2>


@*<head>
    <title>Share QR</title>
    <meta name="viewport" content="width=device-width,height=device-height,minimum-scale=1,maximum-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
</head>*@




    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

    @*<address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>


    <span class='navigation'></span>

    <div id="test" class="well">Swipe me</div>*@

